* {
	background-color: #333333;
	color: #DDDDDD;
}

#main-container {
	display: inline-block;
	margin: 0 20px;
}

#slider_volume {
	display: inline-block;
}

.btn {
	background-color: #005555;
	border: 2px solid black;
	border-radius: 5px;
}
.btn:hover {
	background-color: #555500;
}